.header{
    position:fixed;
    height: 65px;
    width: 100%;
    /* border:1px solid black; */
    background-color: var(--menu);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.login-button{
    float: right;
    height: 65px;
}
.login-button i {
    margin: 5px;
    padding: 5px;
    font-size: 45px;
}
.login-button i:hover{
    background-color: var(--menu-hover);
}