<p>navigation-bar works!</p>
<!-- nuevo, eliminar, buscar -->
<div class="navigation-bar">
        <div class="navigation-bar-function">
            <i class="material-icons">filter_list</i>
        </div>
        <div class="navigation-bar-function">
            <i class="material-icons">fiber_new</i>
        </div>
        <!-- <div class="navigation-bar-function">
                <i class="material-icons">create</i>
        </div>
        <div class="navigation-bar-function">
            <i class="material-icons">clear</i>
        </div> -->
        <div class="navigation-bar-function">
            <i class="material-icons">search</i>
        </div>
        <!-- <div class="navigation-bar-function">
            <i class="material-icons">filter</i>
        </div> -->
</div>
<div class="filter">
</div>
<app-list-register></app-list-register>
