<!-- <p>main works!</p> -->
<div class="header">
  <div class="menu-button">
      <i (click)="toggle()" class="material-icons">menu</i>
  </div>
  <div class="login-button">
      <i class="material-icons">person</i>
  </div>
</div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="openMenu = !openMenu" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
</mat-drawer-container>

