<p>products works!</p>
<app-navigation-bar></app-navigation-bar>

<div class="formProducts">

    <button (click)="addProduct()">Add Product</button>
    <button>Buscar</button>
    <button>Save</button>
    <div class="new-products">
      <mat-accordion *ngFor="let newItem of newProducts">
        <mat-expansion-panel>
          <!-- header -->
          <mat-expansion-panel-header>
            <mat-panel-title>New Product</mat-panel-title>
            <mat-panel-description>Enter products data</mat-panel-description>
          </mat-expansion-panel-header>
          <!-- fields -->
          <mat-form-field>
            <input matInput placeholder="Title">
          </mat-form-field> 
          <mat-form-field>
            <input matInput placeholder="SKU">
          </mat-form-field>
          <br>
         
            <input  type="file"/>
          <br>
          <mat-form-field>
              <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
          <br>
          <label>$</label>
          <mat-form-field>
              <input  matInput placeholder="Price" appTwoDigitDecimalNumber/>
          </mat-form-field>
          <!-- <mat-form-field>
              <input type="file" matInput >
          </mat-form-field> -->
          
        </mat-expansion-panel>

        
      </mat-accordion>
      
    </div>
    <!-- Products in MongoDB -->
    <div class="productItem" *ngFor="let products of data">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ products.name }}</mat-panel-title>
                <mat-panel-description>Type your name and age</mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>


<!-- <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload> -->
   
<!-- </div>
<div  class="products-list">
    <h1>Products</h1>
    <div *ngFor="let products of data" class="product-list-item">
            <h3>{{ products.name }}</h3>
    </div>
</div> -->

<!-- <label >Upload file</label>
<input id="singleFile" type="file" /> -->


