<p>products works!</p>
<app-navigation-bar></app-navigation-bar>

<div class="formProducts">

    <button (click)="addProduct()">Add Product</button>
    <button>Buscar</button>
    <button>Save</button>
    <div class="new-products" >
      <!-- Formulario de Productos general -->
      <form [formGroup] = "productForm">
        <div 
          formArrayName = "productFormItems"
          *ngFor = "let newItem of productForm.get('productFormItems')?.controls; let i = index">
              <div [formGroupName]="i" >
                  <mat-expansion-panel>
                      <!-- header -->
                      <mat-expansion-panel-header>
                        <mat-panel-title>New Product</mat-panel-title>
                        <mat-panel-description>Add product data</mat-panel-description>
                        <div class="delete-product">
                            <i class="material-icons" (click)="deleteProduct(i)">delete</i>
                        </div> 
                      </mat-expansion-panel-header>
                      <!-- fields -->
                      <mat-form-field>
                        <input matInput placeholder="Title" formControlName="title">
                      </mat-form-field> 
                      <mat-form-field>
                        <input matInput placeholder="SKU" formControlName="sku">
                      </mat-form-field>
                      <br>
                      <input  (click) = "onFileSelected()" #fileInput type="file" name="image" ng2FileSelect [uploader] = "uploader" accept=".png, .jpg, .jpeg" >
                      
                        <!-- <button type="button" mat-raised-button 
                          (click)="uploader.uploadAll()"
                          [disabled] = "!uploader.getNotUploadedItems().length"
                          >Choose File
                        </button> -->
                      <br>
                      <br>
                      <mat-form-field>
                          <textarea matInput placeholder="Description" formControlName="description"></textarea>
                      </mat-form-field>
                      <br>
                      <label>$</label>
                      <mat-form-field>
                          <input  matInput placeholder="Price" formControlName="price" appTwoDigitDecimalNumber/>
                      </mat-form-field>
                      <!-- <mat-form-field>
                          <input type="file" matInput >
                      </mat-form-field> -->
                      <button type="submit" mat-button (click)="saveProduct(i)">Save Product</button>
                    </mat-expansion-panel>
              </div>
        </div>
      </form>
    </div>
    <!-- Products in MongoDB -->
    <div class="productItem" *ngFor="let products of data">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ products.name }}</mat-panel-title>
                <mat-panel-description>Type your name and age</mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>


<!-- <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload> -->
   
<!-- </div>
<div  class="products-list">
    <h1>Products</h1>
    <div *ngFor="let products of data" class="product-list-item">
            <h3>{{ products.name }}</h3>
    </div>
</div> -->

<!-- <label >Upload file</label>
<input id="singleFile" type="file" /> -->



