<p>signup works!</p>
<!-- <form [formGroup]="signupForm" (ngSubmit)="signup()" class="login-form" >
        <label for="">Name</label>
        <input  formControlName="name" placeholder="Name" type="text">
        <label for="">Lastname</label>
        <input  formControlName="lastname" placeholder="Lastname" type="text">
        <label for="">Email</label>
        <input  formControlName="email" placeholder="Email" type="text">
        <label for="">User</label>
        <input  formControlName="user" placeholder="User Name" type="text">
        <label  for="">password</label> 
        <input  formControlName="password" placeholder="Password" type="password" >
        <input type="submit">
</form> -->


<form class="example-form" [formGroup]="signupForm">
        
        <!-- name -->
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" formControlName="name">
                <mat-error *ngIf="signupForm.controls.name.hasError('required')">
                Name name is <strong>required</strong>
                </mat-error>
        </mat-form-field>
        <!-- lastname -->
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Lastname" formControlName="lastname">
                <mat-error *ngIf="signupForm.controls.lastname.hasError('required')">
                Lastname name is <strong>required</strong>
                </mat-error>
        </mat-form-field>
        <br>
        <!-- user name -->
        <mat-form-field class="example-full-width">
                <input matInput placeholder="User name" formControlName="user">
                <mat-error *ngIf="signupForm.controls.user.hasError('required')">
                User name is <strong>required</strong>
                </mat-error>
        </mat-form-field>

        <!-- email -->
        <mat-form-field class="example-full-width email-textbox">
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="signupForm.controls.email.hasError('email')">
                Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="signupForm.controls.email.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
        </mat-form-field>
        <br>
        <!-- password -->
        <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Password" formControlName="password" >
                        <mat-error *ngIf="signupForm.controls.password.hasError('required')">
                        Password is <strong>required</strong>
                        </mat-error>
        </mat-form-field>
        <!-- confirm password-->
        <mat-form-field class="example-full-width">
                        <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                        <mat-error *ngIf="signupForm.controls.confirmPassword.hasError('required')">
                        Password is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="signupForm.controls.confirmPassword.hasError('mustMatch')">
                        Password does not match
                        </mat-error>
        </mat-form-field>
        <button type="submit" mat-button [disabled]="!signupForm.valid">Sign Up</button>
</form>
        
        
        
        






        
              





<!-- user name -->
<!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="User name" [formControl]="usernameFormControl">
                <mat-error *ngIf="!usernameFormControl.hasError('required')">
                Please enter a user name
                </mat-error>
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                User name is <strong>required</strong>
                </mat-error>
        </mat-form-field> -->
        <!-- email -->
        <!-- <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
                </mat-error>
        </mat-form-field> -->
        <!-- password -->
        <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password" [formControl]="passwordFormControl">
                        <mat-error *ngIf="!passwordFormControl.hasError('required')">
                        Please enter a password
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                        </mat-error>
        </mat-form-field> -->
        <!-- password again-->
        <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password again" [formControl]="passwordFormControl">
                        <mat-error *ngIf="!passwordFormControl.hasError('required')">
                        Please enter password again
                        </mat-error>
                        <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Password is <strong>required</strong>
                        </mat-error>
        </mat-form-field> -->
              
              

